#mine{
    display: flex;
    background:  #4c8fdd;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 4px 8px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

#owner {
    opacity: 0.5;
}

#others{
    display: flex;
    background:  var(--eerie-black);
    width: fit-content;
    margin-right: auto;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 4px 8px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.window {
    margin: 0 auto;
    margin-top: 15vh;
    width: 80vw;
    height: 70vh;
    max-width: 700px;
    box-shadow: 0px 2px 3px 3px rgba(56, 95, 107, 0.349)!important;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.window-header {
    height: 34px;
    background: #4c8fdd;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--eerie-black);
    border-bottom: none;
    font-weight: bolder;
}

.chat{
    border: 1px solid var(--eerie-black);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-radius: 10px; */
    background: #101b2ca6;
    padding: 1%;
    color: #fff;
    font-family: "Roboto", sans-serif;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message-container{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 8px;
    margin-top: auto;
}


.message-button {
    background: url("../imgs/logo.png") no-repeat center center;
    width: 25px;
    height: 25px;
}