@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

:root{
  --tumbleweed: #DAB39Cff;
  --bole: #7B4941ff;
  --eerie-black: #1D1D1Fff;
  --orange-golden: #C0422Bff;
  --cadet-blue: #539CACff;
  --powder-blue: #A8DFE3ff;
}